<div class="layout-row farmersbank-login">
  <!-- Left Section (Cover, hidden on mobile) -->
  <div class="flex-70 layout-column align-center justify-center hide-lt-sm cover">
    <div class="cover-content text-center">
      <img src="../../assets/images/farmers-bank-lg.jpeg" height="100px"  alt="Farmers Bank Logo" class="cover-logo" />
      <h1 class="cover-title">Farmers Bank</h1>
      <p class="cover-description">
        Welcome to <strong>Farmers Bank Online</strong>, your gateway to secure and seamless banking.
        Empowering communities through financial growth and prosperity.
      </p>
    </div>
  </div>

  <!-- Right Section (Login) -->
  <div class="layout-column flex-gt-sm-30 login-container mat-elevation-z4">
    <!-- Top Right Controls -->
    <div class="layout-row-reverse m-b-10">
      <mifosx-language-selector class="p-t-10 p-r-10"></mifosx-language-selector>
      <mifosx-theme-toggle class="p-t-10"></mifosx-theme-toggle>
    </div>

    <!-- Logo & App Name -->
    <div class="layout-row align-center-center flex-auto m-b-20">

    </div>

    <!-- Tenant Selector -->
    <mifosx-tenant-selector *ngIf="displayTenantSelector()"></mifosx-tenant-selector>

    <!-- Login / Auth Forms -->
    <mifosx-login-form *ngIf="!resetPassword && !twoFactorAuthenticationRequired"></mifosx-login-form>
    <div class="layout-row">
      <mifosx-reset-password *ngIf="resetPassword"></mifosx-reset-password>
      <mifosx-two-factor-authentication *ngIf="twoFactorAuthenticationRequired"></mifosx-two-factor-authentication>
    </div>

    <!-- Resources -->
    <div class="layout-row hide-lt-lg m-t-20">
      <mat-list class="information-list custom-horizontal-list">
        <mat-list-item>
          <button mat-button [matMenuTriggerFor]="resourcesMenu">Resources</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button [matMenuTriggerFor]="communityMenu">Community</button>
        </mat-list-item>
        <mat-list-item>
          <button mat-button [matMenuTriggerFor]="contributeMenu">Contribute</button>
        </mat-list-item>
      </mat-list>
    </div>

    <!-- Footer -->
    <mifosx-footer class="m-t-30"></mifosx-footer>

    <div class="layout-row m-b-20 m-r-10" align="end">
      <a (click)="reloadSettings()" matTooltip="Reload Settings">
        <fa-icon icon="refresh"></fa-icon>
      </a>
    </div>
  </div>
</div>

<!-- Contact Information/Resources Menus -->
<mat-menu #resourcesMenu="matMenu">
  <a href="https://mifos.org/resources/" target="_blank" mat-menu-item>User Manual</a>
  <a href="https://cwiki.apache.org/confluence/display/FINERACT" target="_blank" mat-menu-item>
    Technical Docs
  </a>
  <a href="https://mifos.org/developers/" target="_blank" mat-menu-item>Developer Zone</a>
</mat-menu>

<mat-menu #communityMenu="matMenu">
  <a href="https://groups.google.com/forum/#!forum/mifosusers" target="_blank" mat-menu-item>User Group</a>
  <a href="https://groups.google.com/forum/#!forum/mifosdeveloper" target="_blank" mat-menu-item>Developer Group</a>
  <a href="https://mifos.org/resources/community/communications/" target="_blank" mat-menu-item>Community Chat</a>
</mat-menu>

<mat-menu #contributeMenu="matMenu">
  <a href="https://mifos.org/take-action/volunteer/" target="_blank" mat-menu-item>Get Involved</a>
  <a href="https://mifos.org/donate/" target="_blank" mat-menu-item>Donate</a>
  <a href="https://mifos.org/about/partners/" target="_blank" mat-menu-item>Partners</a>
</mat-menu>
